.featuredProducts {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Merriweather', serif;
    margin-top: 100px;
    img {
      width: 75px;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    gap: 30px;
  }
}
