.featuredProducts {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 100px;
  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Merriweather', serif;
    img {
      width: 75px;
    }
  }
  .bottom {
    display: flex;
    justify-content: center;

    gap: 50px;
  }
}
