.container__slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  background-color: black;
  border-radius: 15px;

  .slider__item {
    box-sizing: border-box;
    min-width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    transition: transform 1s ease;

    @for $i from 1 through 7 {
      &-active-#{$i} {
        transform: translateX(($i - 1) * -100%);
      }
    }
  }
}

@media (max-width: 768px) {
  .container__slider {
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .container__slider {
    border-radius: 10px;
  }
}
