.navbar {
  font-family: 'Open Sans', sans-serif;

  background-color: #fff;
  color: #000;

  .wrapper {
    padding: 15px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      font-size: 16px;
      transition: all 0.3s ease;
    }
    .item:hover {
      color: #8bc34a;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 40px;

      .logo {
        width: 150px;
        height: 70px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .icons {
      display: flex;
      gap: 15px;
      color: #000;
      cursor: pointer;

      .cartIcon {
        position: relative;
        color: #8bc34a;
        span {
          font-size: 14px;
          font-weight: 500;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #8bc34a;
          color: #000;
          position: absolute;
          right: -10px;
          top: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
